flask
flask-cors
google-generativeai
python-dotenv
gunicorn
blinker
click
itsdangerous
jinja2
markupsafe
werkzeug
google-ai-generativelanguage==0.6.15
google-api-core
google-api-python-client
google-auth
protobuf
pydantic
tqdm
typing-extensions
proto-plus
googleapis-common-protos
requests
grpcio
grpcio-status
cachetools
pyasn1-modules
rsa
certifi
httplib2
google-auth-httplib2
uritemplate
pyparsing
annotated-types
pydantic-core
typing-inspection
charset-normalizer
idna
urllib3
packaging
pyasn1
